<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>Homework for Geta frontend developers position</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css' media='all' rel='stylesheet'>
    <link href='app.css' media='all' rel='stylesheet'>
  </head>
  <body>
    <script id='gem-dependencies-template' type='text/x-template'>
      <div class='gem-dependencies' v-if='dependencies.length'>
        <h3 class='gem-dependencies__title'>{{title}}</h3>
        <ul>
          <li class='gem-dependencies__item' v-for='dep in dependencies'>
            <external-link :href="'https://rubygems.org/gems/' + dep.name" class='gem-dependencies__item-name'>
              {{dep.name}}
            </external-link>
            <span class='gem-dependencies__item-requirements'>{{dep.requirements}}</span>
          </li>
        </ul>
      </div>
    </script>
    <div id='mainContent'>
      <h1>Latest updated ruby gems</h1>
      <template v-if='latestGemsLoaded'>
        <md-collapsible class='gem-list' data-collapsible='accordion'>
          <li v-for='gem in latestGems'>
            <div class='collapsible-header gem-list__item-header'>
              <strong>{{gem.name}}</strong>
              v{{gem.version}} &mdash; {{gem.info}}
            </div>
            <div class='collapsible-body gem-list__item-body gem'>
              <h2 class='gem__title'>{{gem.name}} v{{gem.version}}</h2>
              <p class='gem__info'>{{gem.info}}</p>
              <ul>
                <li class='gem__author'>Author: {{gem.authors}}</li>
                <li class='gem__licenses'>Licenses: {{gem.licenses.join(', ')}}</li>
                <li>
                  <external-link :href="'https://rubygems.org/gems/' + gem.name">Open in RubyGems</external-link>
                </li>
                <li v-if='gem.homepage_uri'>
                  <external-link :href='gem.homepage_uri'>Visit homepage</external-link>
                </li>
                <li v-if='gem.wiki_uri'>
                  <external-link :href='gem.wiki_uri'>Open wiki</external-link>
                </li>
                <li v-if='gem.documentation_uri'>
                  <external-link :href='gem.documentation_uri'>Open documentation</external-link>
                </li>
                <li v-if='gem.source_code_uri'>
                  <external-link :href='gem.source_code_uri'>View source</external-link>
                </li>
                <li>
                  <external-link :href='gem.project_uri'>Download</external-link>
                </li>
              </ul>
              <gem-dependencies :dependencies='gem.dependencies.runtime' :title="'Runtime dependencies'"></gem-dependencies>
              <gem-dependencies :dependencies='gem.dependencies.development' :title="'Development dependencies'"></gem-dependencies>
            </div>
          </li>
        </md-collapsible>
      </template>
      <template v-else>
        <div class='progress'>
          <div class='indeterminate'></div>
        </div>
      </template>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.js' type='text/javascript'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.5/vue.min.js' type='text/javascript'></script>
    <script src='app.js' type='text/javascript'></script>
  </body>
</html>
